
/*---------------------------------------------------*/
*{
      box-sizing: border-box;
     /* border: 1px solid rgb(44, 255, 44);*/
  }

html {
      font-family: 'Times New Roman', Times, serif;
      font-size: 1rem;
      height: 100%;
      background-color:  #212121;
  color: white;
  }



@font-face {
      font-display: swap;
      font-family: 'Signika';
      font-style: normal;
      font-weight: normal;
      src: url('Signika-Regular.ttf') format('truetype');

  }


/*-Nav Bar Css---------------------------------------*/
ul{
      background-color:black;
      display: flex;
      justify-content: left;
      list-style-type: none;
      margin: 0;
      padding: 1rem;
      top: 0;
      width: 100%;

     /*centers the the nav content to the center*/
     /*get rid of bulleted list*/
       /*property to fix the nav at top of page*/
  }
li{
      font-size: 1rem;
      padding: 1rem 2rem;
      text-align: center;
 
   /*centers text*/
  }
 nav ul li a:active{
      color: #c97cef;
      text-decoration: underline;
  /*change color*/
  }
ul li a:hover{
     color: #c97cef;
    border-bottom: 3px solid #c97cef;

 }
li a {
      color: white;
      text-decoration: none;
      padding: 1rem 0; }

#currentPage{
    color: #c97cef;
    border-bottom: 3px solid #c97cef;
}


/* NEED TO CREATE THE CSS FOR: The currentPage Id will be applied to all the buttons depending on the page and then css will be added to that one id for when on that page*/
/*---------------------------------------------------*/
/*-General Css---------------------------------------*/
body{
  
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}
main{
     margin: 6rem 2rem 0;
     padding-bottom: 1rem;

 /* applies spacing to top to avoid collision of nav and main content*/
 }
 header{
    padding: 10rem;
    background: url(imgs/starysky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 32px;
  }
  h2{
    font-size: 1.5rem; 
    text-align: center;
}
  /* project section */
  #projectSec{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 10rem;
    margin: 0 30rem;
    padding: 1rem;
}

.projectSection{
    align-content: center;
    padding: 1rem 2.5rem ;
}
/*-----*/

 span{
     font-style: bold;
     text-transform: uppercase;
 }
 .centerItem{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

/*---------------------------------------------------*/

/*Contact Page-----------------------------------------------*/
form{
    padding: 1.5rem 3rem;
} 
form div{
    padding: 0.5rem 1rem;
}
form div #submitButton{
   display: flex;
   justify-content: center;
}
input[type="text"] {
    height: 60px;
    width: 400px;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
}
button{
    padding: 0.3rem 2.5rem;
}
#disclaimer{
    font-size: 0.9rem;
    padding-top: 1.3rem;
}
/*---------------------------------------------------*/ 
/*---------------------------------------------------*/

div .projectHolder{
       background-color: white;
       color: #100A36;
       display: flex;
       padding: 1rem 2.5rem;
       text-decoration: none;
  }

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  
  }
 .subtitle{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
     }

/*Addes color scheme to previous boring buttons-----*/
button{
  color: white;
  font-weight: bold;
  background-color: #9b51e0;
  padding: 1.3rem 5rem;
  border-radius: 0.5rem;
}
#viewbtnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*---------------------------------------------------*/


/*max Desktop and covers anything less*/
@media (min-width:901px){
    main{
        margin: 0;
        padding-bottom: 1rem;
    /* applies spacing to top to avoid collision of nav and main content*/
    }
    ul{
        width: 100%;
        height: 8rem;
        text-align: center;
         margin-top:1rem;
       /*centers the the nav content to the center*/
       /*get rid of bulleted list*/
         /*property to fix the nav at top of page*/
         
    }
  li{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 2rem;
        text-align: center;   
     /*centers text*/
    }
   nav ul li a:active{
        color: #c97cef;
    }

  li a {
        color: white;
        text-decoration: none;
        padding: 0.3rem 0; }
        /*
        {
            border: 1px solid red;
        } */
  header{
    background: url(imgs/starysky.jpg);
    background-repeat: no-repeat;
    font-size: 15px;
    margin: 0;
    width: 100%;
  }
  h1{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
    line-height: 5rem;
  }
  h2{
      font-size: 1.5rem; 
      text-align: center;
  }

  #projectSection{
      align-content: center;
  }
  footer{
    background-color: black;
    padding: 0 3rem;
  }
  /* project section */
  #projectSec{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem 10rem;
    margin: 0 15rem;
    padding: 1rem;
}

.projectSection{
    align-content: center;
    padding: 1rem 2.5rem ;
}
/*-----*/
    /*About Page*/
    #about{
        margin: 2rem 10rem 0 ;
    }
    #aboutTop{
        margin:0; 
        padding: 1rem 0;
        text-align: center;
    }
    #AboutInfo{
        font-family: 'Signika', 'Times New Roman', Times, serif;
        font-size: 1.9rem;
        line-height: 2.5rem;
        margin:2rem 1rem;
    }
    #aboutTop img{
        width: 20rem;
        height: auto;
    }
    /*-----*/
    #individualProject{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #individualProject img{
          width: 60rem;
          height:auto;
      }
      #individualProject button{
        padding: 2rem 28rem;
    }
    #contactPage{
        margin:1rem 3rem 0;
    }
    #contactForm div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #formBottom #contactPreference{
        display: flex;
        flex-direction: row;
     }
     label{
         padding: 1rem 3rem;
         font-size: 22px;

     }
     input[type="text"] {
        height: 60px;
        width: 300px;
        font-style: italic;
        font-size: 1.5rem;
        padding: 1rem;
    }

}


/*max mobile and covers anything less*/
@media (max-width:900px) and (min-width: 481px){
    main{
        margin:0;
        padding-bottom: 1rem;

    /* applies spacing to top to avoid collision of nav and main content*/
    }
    /* nav*/
    ul{
        width: 100%;
        height: 6rem;
        text-align: center; 
    }
  li{
        font-size: 1rem;
        padding: 1rem 0.6rem;
        text-align: center;
   
     /*centers text*/
    }
   nav ul li a:active{
        color: #c97cef;
    }

  li a {
        color: white;
        text-decoration: none;
        padding: 0.3rem 0; }
   /*----*/
/*{
    border: 1px solid red;
} */
  header{
    background: url(imgs/starysky.jpg);
    background-repeat: no-repeat;
    height: 200px;
    font-size: 1.3rem;
    display: flex;
    align-items: center ;
    justify-content: center;
  }
  h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    line-height: 2rem;
    position: static;
    margin: -10rem;
  }

  h2{
      font-size: 1.5rem; 
      text-align: center;
  }

  
    /* project section */
    #projectSec{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10rem 10rem;
        margin: 0;
        padding: 1rem;
      
    }
    
    .projectSection{
        align-content: center;
        padding: 1rem 2.5rem ;
        
    }
    /*-----*/
    /*About Page*/
    #about{
        margin: 0;
    }
    #aboutTop{
        margin:0; 
        padding: 1rem 0;
        text-align: center;
    }
    #AboutInfo{
        font-family: 'Signika', 'Times New Roman', Times, serif;
        font-size: 1.9rem;
        line-height: 2rem;
        margin:2rem 6rem;
    }
    #aboutTop img{
        width:auto;
        height: 10rem;
    }
    /*-----*/
    #individualProject{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 0 0;
      }
      #individualProject img{
          width: 40rem;
          height:auto;
          padding:0;
          margin:0;
      }
      #individualProject button{
        padding: 2rem 15rem;
    }

    #contactPage{
        margin:1rem 3rem 0;
    }
    #contactForm div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #formBottom #contactPreference{
        display: flex;
        flex-direction: row;
     }
     label{
         padding: 1rem 3rem;
         font-size: 18px;
     }
     input[type="text"] {
        height: 60px;
        width: 400px;
        font-style: italic;
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media (max-width:480px) and (min-width: 300px){
    #AboutInfo{ 
        font-family: 'Signika', 'Times New Roman', Times, serif;
        font-size: 1rem;
        line-height: 1.5rem;
        margin:2rem 3rem;

    }
    #individualProject{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #individualProject img{
          width: 18rem;
          height:auto;
      }
      #individualProject button{
        padding: 0.5rem 4rem;
    }
    /*-Contact Page-*/
    #contactPage{
        margin:1rem 2rem 0; 
    }
    input[type="text"] {
        height: 50px;
        width: 300px;
        font-style: italic;
        font-size: 1.5rem;
        padding: 1rem;
    }
    label{
        font-size: 18px;
    }
 
}

